 

<router-outlet>
  <form>
    Select a topic:
    <select ng-model="myVar">
      <option value="">
      <option value="dogs">Dogs
      <option value="tuts">Tutorials
      <option value="cars">Cars
    </select>
  </form>
</router-outlet>
